

body {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-y: scroll;
}

h1 {
    text-transform: uppercase;
}

pre {
    white-space: pre-wrap; 
    word-wrap: break-word;
}


@media all and (max-width: 699px) {
    .post-row {
        display: flex;
        flex-direction: column;
        border: solid 1px;
        border-radius: 0.5rem; 
        margin-bottom: 0.5rem;
        padding: 0.5rem;
    }
    
    .table-headings {
        display: none;
        visibility: hidden;
    }

    .title-cell {
        width: 100%;
        font-weight: bold;
        text-align: center;
    }

    .post-cell {
        width: 100%;
    }
    
    .author-cell, .time-cell, .url-cell, .flair-cell {
        text-align: center;
        font-size:small;
    }
}

@media all and (min-width: 700px) {
    table {
        margin: 0.5rem auto;
        border: solid 2px;
        border-radius: 0.5rem;
        border-spacing: 0;
    }
    
    tr:not(:last-child) th, tr:not(:last-child) td{
        border-bottom: solid 2px;
    }
    
    td {
        padding: 0.5rem;
    }
    
    .title-cell {
        width: 18%;
    }

    .author-cell, .time-cell, .url-cell, .flair-cell {
        width: 8%;
        font-size:small;
    }
    
    .post-cell {
        width: 50%;
    }
}

.table-heading {
    font-size: small;
    padding: 0.5rem 0;
}



sl-input, sl-select, #search-term-div {
    width: 500px;
    max-width: 90%;
    margin: 1rem auto;
}

#search-term-div {
    display:flex;
}


sl-button {
    margin: 0.5rem;
}

#use-search-term {
    justify-self: center;
    vertical-align: center;
    align-self: center;
    height: 100%;
}

#result {
    width: 1280px;
    max-width: 100%;
    margin: 1rem auto;
    word-break: break-word;
}

#subtitle {
    font-size: medium;
}

#subtitle a{
    text-decoration: underline;
    color: var(--sl-color-neutral-1000);
}

#subtitle a:hover{
    text-shadow: 1px 1px 5px var(--sl-color-neutral-800);
}

h1, #preset-names, #action-buttons, #flairs {
    max-width: 90%;
    margin: auto;
    text-align: center;
}